[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Exec=weixin.sh
Icon=org.winehq.WineWechat
Name=微信(wine)
Comment=来自kylinos的wine解包
Terminal=false
Type=Application
